<ion-view view-title="<img src='./img/logo-inline.png' />">

<ion-header-bar align-title="center">
    <div class="buttons">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>

        <div class="title title-center header-item" style="left: 57px; right: 57px;"><img src="./img/logo-inline.png"></div>
        
        <div class="buttons buttons-right header-item">
            <span class="right-buttons">
                <button class="button button-icon icon ion-ios-bell-outline" ng-click="notifications()"></button>
            </span>
        </div>
    </div>
</ion-header-bar>

<ion-content class="Affiliate Affiliate-network Post">

    <ion-refresher pulling-text="Pull to refresh..." on-refresh="doRefresh()"> </ion-refresher> 
<pre class="hide">{{data}}</pre>
    <div class="Post__header" style="background-color: #3ad9c5;">
        <h3 class="Post__header-title">Campaign Reports</h3>
    </div>

    <div class="Post__details">


    <!-- refferal table started -->
    <div class="row row-header">
      <div class="col">Name</div>
      <div class="col">Unique Visits</div>
      <div class="col">Total Visits</div>
      <div class="col">Referrals</div>
    </div>

    <div class="row" ng-repeat="item in data.items">
      <div class="col">{{item.name}}</div>
      <div class="col">{{item.unique_visits_count}}</div>
      <div class="col">{{item.visit_count}}</div>
      <div class="col">{{item.referrals}}</div>
    </div>

    <!-- refferal table end -->

    </div> <!-- end Post__details -->

    </ion-content>
</ion-view>
