<ion-view view-title="<img src='./img/logo-inline.png' />">

<ion-header-bar align-title="center">
    <div class="buttons">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>

        <div class="title title-center header-item" style="left: 57px; right: 57px;"><img src="./img/logo-inline.png"></div>
        
        <div class="buttons buttons-right header-item">
            <span class="right-buttons">
                <button class="button button-icon icon ion-ios-bell-outline" ng-click="notifications()"></button>
            </span>
        </div>
    </div>
</ion-header-bar>

<ion-content class="Affiliate Affiliate-network Post">

    <ion-refresher pulling-text="Pull to refresh..." on-refresh="doRefresh()"> </ion-refresher> 
<pre class="hide">{{data}}</pre>
    <div class="Post__header" style="background-color: #3ad9c5;">
        <h3 class="Post__header-title">Coupons</h3>
    </div>

    <div class="Post__details">

			<p>Correlate an Affiliate with a WooCommerce or Ultimate Membership Pro coupon code.</p>

			<!-- coupon table started -->
			<div class="row row-header">
        <div class="col">Code</div>
        <div class="col">Source</div>
        <div class="col">Amount</div>
      </div>

      <div class="row" ng-repeat="item in data.codes">
        <div class="col">aff1chTlh7p</div>
        <div class="col">Ultimate Membership Pro</div>
        <div class="col">88.00 USD</div>
      </div>

			<!-- coupon table end -->


    </div> <!-- end Post__details -->

    </ion-content>
</ion-view>
