<ion-view view-title="<img src='./img/logo-inline.png' />">

<ion-header-bar align-title="center">
    <div class="buttons">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>

        <div class="title title-center header-item" style="left: 57px; right: 57px;"><img src="./img/logo-inline.png"></div>
        
        <div class="buttons buttons-right header-item">
            <span class="right-buttons">
                <button class="button button-icon icon ion-ios-bell-outline" ng-click="notifications()"></button>
            </span>
        </div>
    </div>
</ion-header-bar>

<ion-content class="Affiliate Affiliate-network Post">

    <ion-refresher pulling-text="Pull to refresh..." on-refresh="doRefresh()"> </ion-refresher> 
<pre>{{data}}</pre>
    <div class="Post__header" style="background-color: #3ad9c5;">
        <h3 class="Post__header-title">Overview</h3>
    </div>

    <div class="Post__details">

        <!-- statistics started -->
        <div class="card">
          <div class="item item-text-wrap">
            <h2>5</h2>
            Referrals
          </div>
        </div>

        <div class="card">
          <div class="item item-text-wrap">
            <h2>4</h2>
            Paid Referrals
          </div>
        </div>

        <div class="card">
          <div class="item item-text-wrap">
            <h2>0</h2>
            UnPaid Referrals
          </div>
        </div>

        <div class="card">
          <div class="item item-text-wrap">
            <h2>27</h2>
            Total Transactions
          </div>
        </div>

        <div class="card">
          <div class="item item-text-wrap">
            <h2>337.3 USD</h2>
            Your Earnings by Now (total Transactions)
          </div>
        </div>

        <div class="card">
          <div class="item item-text-wrap">
            <h2>0 USD</h2>
            Your current Balance
          </div>
        </div>
        <!-- statistics end -->

    </div> <!-- end Post__details -->

    </ion-content>
</ion-view>
