<ion-view view-title="<img src='./img/logo-inline.png' />">

<ion-header-bar align-title="center">
    <div class="buttons">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>

        <div class="title title-center header-item" style="left: 57px; right: 57px;"><img src="./img/logo-inline.png"></div>
        
        <div class="buttons buttons-right header-item">
            <span class="right-buttons">
                <button class="button button-icon icon ion-ios-bell-outline" ng-click="notifications()"></button>
            </span>
        </div>
    </div>
</ion-header-bar>

<ion-content class="Affiliate Affiliate-network Post">

    <ion-refresher pulling-text="Pull to refresh..." on-refresh="doRefresh()"> </ion-refresher> 
<pre class="hide">{{data.metas}}</pre>
    <div class="Post__header" style="background-color: #3ad9c5;">
        <h3 class="Post__header-title">Payments Settings</h3>
    </div>

    <div class="Post__details">

      <!-- payment method form start -->
      <div class="list">
        
        <label class="item item-input item-select">
          <div class="input-label">Payment Type: </div>

          <select ng-model="FilterData.type">
            <option ng-repeat="(value,key) in data.payment_types" value="{{value}}">{{key}}</option>
          </select>
        </label>
        
        <!-- if payment type BANK TRANSFER -->
        <label class="item item-input item-floating-label" ng-if="FilterData.type=='bt'">
          <input type="text" ng-model="FilterData.accnumber" placeholder="Account No:">
        </label>

        <label class="item item-input item-floating-label" ng-if="FilterData.type=='bt'">
          <input type="text" ng-model="FilterData.bank"  placeholder="Bank Name:">
        </label>                      

        <label class="item item-input item-floating-label" ng-if="FilterData.type=='bt'">
          <input type="text" ng-model="FilterData.bankaddress" placeholder="Bank Address:">
        </label>

        <label class="item item-input item-floating-label" ng-if="FilterData.type=='bt'">
          <input type="text" ng-model="FilterData.bankswift" placeholder="Bank Swift Code:">
        </label>        
        <!-- End if BANK TRANSFER -->

        <!-- if payment type Alipay -->
        <label class="item item-input item-floating-label" ng-if="FilterData.type=='alipay'">
          <input type="text" ng-model="FilterData.alipay" placeholder="Alipay ID:">
        </label>
        <!-- End if Alipay -->  

        <!-- if payment type Wechat Pay -->
        <label class="item item-input item-floating-label" ng-if="FilterData.type=='wechat_pay'">
          <input type="text" ng-model="FilterData.wechat_pay" placeholder="Wechat Pay ID:">
        </label>
        <!-- End if Wechat Pay -->  
              
        <!-- if payment type PayPal -->
        <label class="item item-input item-floating-label" ng-if="FilterData.type=='paypal'">
          <input type="text" ng-model="FilterData.paypal" placeholder="PayPal E-mail:">
        </label>
        <!-- End if PayPal -->

        <label>
          <button class="button button-block button-positive activated" ng-click="add()">Save</button>
        </label>

      </div>
      <!-- payment method form end-->

    </div> <!-- end Post__details -->

    </ion-content>
</ion-view>
