<ion-view view-title="<img src='./img/logo-inline.png' />">
<ion-header-bar align-title="center">
    <div class="buttons">

        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>

        <div class="title title-center header-item" style="left: 57px; right: 57px;"><img src="./img/logo-inline.png"></div>
        
        <div class="buttons buttons-right header-item">
            <span class="right-buttons">
                <button class="button button-icon icon ion-ios-bell-outline" ng-click="notifications()"></button>
            </span>
        </div>
    </div>
</ion-header-bar>

<ion-content class="Affiliate Affiliate-creatives Post">

    <ion-refresher pulling-text="Pull to refresh..." on-refresh="doRefresh()"> </ion-refresher> 

    <div class="Post__header" style="background-color: #3ad9c5;">
        <h3 class="Post__header-title">Profile</h3>
    </div>


      <div>
      <!-- <div class="Post__details"> -->
   
        <div class="row row-center">
          <div class="col profiles-avatar relative" style="border: none;">
              <img ng-if="profile.avatar" ng-src="{{profile.avatar}}" class="margin-auto" width="155px">
              <img ng-if="!profile.avatar" ng-src="css/img/icon-avatar.png" class="margin-auto" width="155px">
              <div class="text-center" style="margin: 10px 0;" ng-click="changeAvatar()"><i class="icon ion-camera" style="font-size: 32px;"></i></div>
          </div>
      </div>

      <div class="list no-margin" style="border-top: 1px solid #eee;"></div>


      <div class="list light-bg" style="padding: 16px 0 0 16px;margin:0">
          <div class="calm">First Name: </div>
          <a class="item no-border item-icon-right" style="padding: 16px 0;font-size: 100%;" ng-click="showChangefName()">{{data.billing.first_name}}<i class="calm icon ion-edit" style="font-size: 100%;"></i></a>

          <div class="calm">Last Name: </div>
          <a class="item no-border item-icon-right" style="padding: 16px 0;font-size: 100%;" ng-click="showChangelName()">{{data.billing.last_name}}<i class="calm icon ion-edit" style="font-size: 100%;"></i></a>

          <div class="calm">Nick Name: </div>
          <a class="item no-border item-icon-right" style="padding: 16px 0;font-size: 100%;" ng-click="showChangeName()">{{data.billing.nickname}}<i class="calm icon ion-edit" style="font-size: 100%;"></i></a>

          <div class="calm">Phone number: </div>
          <a class="item no-border item-icon-right" style="padding: 16px 0;font-size: 100%;" ng-click="showChangePhone()">+{{data.billing.phone}} <i class="calm icon ion-edit" style="font-size: 100%;"></i> </a>

          <!-- <span class="calm">Gender: </span> -->
          <!-- <label ng-click="changeGender(0)" ng-class="{'chose':profile.gender=='Male'}">
              <div class="status-check float-left margin-right"></div>Male
          </label>
          <label ng-click="changeGender(1)" ng-class="{'chose':profile.gender=='Female'}">
              <div class="status-check float-left margin-right"></div>Female
          </label> -->

      </div>
      <div class="list no-margin" style="padding: 16px 16px 0 16px">
        <label class="item item-input item-select font-100" style="border: none;padding-left: 0;">
          <span class="calm font-100">Gender:
            <select class="ng-pristine ng-valid ng-not-empty ng-touched" ng-change="changeGender()" ng-model="profile.gender">
            <option label="Male" value="Male" >Male</option>
            <option label="Female" value="Female">Female</option>
          </select>
        </label>
      </div>      

      <div class="list no-margin" style="padding: 16px 16px 0 16px">
        <label class="item item-input item-select font-100" style="border: none;padding-left: 0;">
          <span class="calm font-100">Language: </span>
            <select class="ng-pristine ng-valid ng-not-empty ng-touched" ng-change="changeLang()" ng-model="default.lang">
            <!-- <option label="Bangla" value="bng">Bangla</option> -->
            <option label="Chinese" value="ch">Chinese</option>
            <option label="English" value="en">English</option>
          </select>
        </label>
      </div>


      <div class="list no-margin" style="padding: 16px 16px 0 16px">
        <label class="item item-input item-select font-100" style="border: none;padding-left: 0;">
          <span class="calm font-100">Country: </span>
          
          <select class="ng-pristine ng-valid ng-not-empty ng-touched" ng-change="changeCountry()" ng-model="profile.country">
            <option label= Afghanistan value="Afghanistan">Afghanistan</option>
            <option  label="Albania" value="Albania">Albania</option>
            <option  label="Algeria" value="Algeria">Algeria</option>
            <option  label="American"  value="American Samoa">American Samoa</option>
            <option  label="Andorra" value="Andorra">Andorra</option>
            <option  label="Angola" value="Angola">Angola</option>
            <option  label="Anguilla" value="Anguilla">Anguilla</option>
            <option  label="Antarctica" value="Antarctica">Antarctica</option>
            <option  label="Antigua"  value="Antigua and Barbuda">Antigua and Barbuda</option>
            <option  label="Argentina" value="Argentina">Argentina</option>
            <option  label="Armenia" value="Armenia">Armenia</option>
            <option  label="Aruba" value="Aruba">Aruba</option>
            <option  label="Australia" value="Australia">Australia</option>
            <option  label="Austria" value="Austria">Austria</option>
            <option  label="Azerbaijan" value="Azerbaijan">Azerbaijan</option>
            <option  label="Bahamas" value="Bahamas">Bahamas</option>
            <option  label="Bahrain" value="Bahrain">Bahrain</option>
            <option  label="Bangladesh" value="Bangladesh">Bangladesh</option>
            <option  label="Barbados" value="Barbados">Barbados</option>
            <option  label="Belarus" value="Belarus">Belarus</option>
            <option  label="Belgium" value="Belgium">Belgium</option>
            <option  label="Belize" value="Belize">Belize</option>
            <option  label="Benin" value="Benin">Benin</option>
            <option  label="Bermuda" value="Bermuda">Bermuda</option>
            <option  label="Bhutan" value="Bhutan">Bhutan</option>
            <option  label="Bolivia" value="Bolivia">Bolivia </option>
            <option  label="Bosnia"  value="Bosnia and Herzegovina">Bosnia and Herzegovina</option>
            <option  label="Brazil" value="Brazil">Brazil</option>
            <option  label="Brazil" value="Brazil">Brazil</option>
            <option  label="British"  value="British Indian Ocean Territory">British Indian Ocean Territory</option>
            <option  label="British"  value="British Virgin Islands">British Virgin Islands</option>
            <option  label="Brunei" value="Brunei">Brunei</option>
            <option  label="Bulgaria" value="Bulgaria">Bulgaria</option>
            <option  label="Burkina" value="Burkina">Burkina Faso</option>
            <option  label="Burundi" value="Burundi">Burundi</option>
            <option  label="Cambodia" value="Cambodia">Cambodia</option>
            <option  label="Cameroon" value="Cameroon">Cameroon</option>
            <option  label="Canada" value="Canada">Canada</option>
            <option  label="Cape"  value="Cape Verde">Cape Verde</option>
            <option  label="Cayman " value="Cayman Islands">Cayman Islands</option>
            <option  label="Central"  value="Central African Republic">Central African Republic</option>
            <option  label="Chad" value="Chad">Chad</option>
            <option  label="Chile" value="Chile">Chile</option>
            <option  label="China" value="China">China</option>
            <option  label="Christmas"  value="Christmas Island">Christmas Island</option>
            <option  label="Cocos"  value="Cocos Islands">Cocos Islands</option>
            <option  label="Colombia" value="Colombia">Colombia</option>
            <option  label="Comoros" value="Comoros">Comoros</option>
            <option  label="Cook"  value="Cook Islands ">Cook Islands</option>
            <option  label="Costa " value="Costa Rica">Costa Rica</option>
            <option  label="Croatia" value="Croatia">Croatia</option>
            <option  label="Cuba" value="Cuba">Cuba</option>
            <option  label="Curacao" value="Curacao">Curacao</option>
            <option  label="Cyprus" value="Cyprus">Cyprus</option>
            <option  label="Czech"  value="Czech Republic">Czech Republic</option>
            <option  label="Democratic"  value="Democratic Republic of the Congo">Democratic Republic of the Congo</option>
            <option  label="Denmark" value="Denmark">Denmark</option>
            <option  label="Djibouti" value="Djibouti">Djibouti</option>
            <option  label="Dominica" value="Dominica">Dominica</option>
            <option  label="Dominican"  value="Dominican Republic">Dominican Republic</option>
            <option  label="East"  value="East Timor">East Timor</option>
            <option  label="Ecuador" value="Ecuador">Ecuador</option>
            <option  label="Egypt" value="Egypt">Egypt</option>
            <option  label="El"  value="El Salvador ">El Salvador</option>
            <option  label="Equatorial" value="Equatorial Guinea">Equatorial Guinea</option>
            <option  label="Eritrea" value="Eritrea">Eritrea</option>
            <option  label="Estonia" value="Estonia">Estonia</option>
            <option  label="Ethiopia" value="Ethiopia">Ethiopia</option>
            <option  label="Falkland"  value="Falkland Islands">Falkland Islands</option>
            <option  label="Faroe"  value="Faroe Islands">Faroe Islands</option>
            <option  label="Fiji" value="Fiji">Fiji</option>
            <option  label="Finland" value="Finland">Finland</option>
            <option  label="France" value="France">France</option>
            <option  label="French"  value="French Polynesia">French Polynesia</option>
            <option  label="Gabon" value="Gabon">Gabon</option>
            <option  label="Gambia" value="Gambia">Gambia</option>
            <option  label="Georgia" value="Georgia">Georgia</option>
            <option  label="Germany" value="Germany">Germany</option>
            <option  label="Ghana" value="Ghana">Ghana</option>
            <option  label="Gibraltar" value="Gibraltar">Gibraltar</option>
            <option  label="Greece" value="Greece">Greece</option>
            <option  label="Greenland" value="Greenland">Greenland</option>
            <option  label="Grenada" value="Grenada">Grenada</option>
            <option  label="Guam" value="Guam">Guam</option>
            <option  label="Guatemala" value="Guatemala">Guatemala</option>
            <option  label="Guernsey" value="Guernsey">Guernsey</option>
            <option  label="Guinea" value="Guinea">Guinea</option>
            <option  label="Guinea-Bissau" value="Guinea-Bissau">Guinea-Bissau</option>
            <option  label="Guyana" value="Guyana">Guyana</option>
            <option  label="Haiti" value="Haiti">Haiti</option>
            <option  label="Honduras" value="Honduras">Honduras</option>
            <option  label="Hong"  value="Hong Kong">Hong Kong</option>
            <option  label="Hungary" value="Hungary">Hungary</option>
            <option  label="Iceland" value="Iceland">Iceland</option>
            <option  label="India" value="India">India</option>
            <option  label="Indonesia" value="Indonesia">Indonesia</option>
            <option  label="Iran" value="Iran">Iran</option>
            <option  label="Iraq" value="Iraq">Iraq</option>
            <option  label="Ireland" value="Ireland">Ireland</option>
            <option  label="Isle"  value="Isle of Man">Isle of Man</option>
            <option  label="Israel" value="Israel">Israel</option>
            <option  label="Italy" value="Italy">Italy</option>
            <option  label="Ivory"  value="Ivory Coast">Ivory Coast</option>
            <option  label="Jamaica" value="Jamaica">Jamaica</option>
            <option  label="Japan" value="Japan">Japan</option>
            <option  label="Jersey" value="Jersey">Jersey</option>
            <option  label="Jordan" value="Jordan">Jordan</option>
            <option  label="Kazakhstan" value="Kazakhstan">Kazakhstan</option>
            <option  label="Kenya" value="Kenya">Kenya</option>
            <option  label="Kiribati" value="Kiribati">Kiribati</option>
            <option  label="Kosovo" value="Kosovo">Kosovo</option>
            <option  label="Kuwait" value="Kuwait">Kuwait</option>
            <option  label="Kyrgyzstan" value="Kyrgyzstan">Kyrgyzstan</option>
            <option  label="Laos" value="Laos">Laos</option>
            <option  label="Latvia" value="Latvia">Latvia</option>
            <option  label="Lebanon" value="Lebanon">Lebanon</option>
            <option  label="Lesotho" value="Lesotho">Lesotho</option>
            <option  label="Liberia" value="Liberia">Liberia</option>
            <option  label="Libya" value="Libya">Libya</option>
            <option  label="Liechtenstein" value="Liechtenstein">Liechtenstein</option>
            <option  label="Lithuania" value="Lithuania">Lithuania</option>
            <option  label="Luxembourg" value="Luxembourg">Luxembourg</option>
            <option  label="Macau" value="Macau">Macau</option>
            <option  label="Macedonia" value="Macedonia">Macedonia</option>
            <option  label="Madagascar" value="Madagascar">Madagascar</option>
            <option  label="Malawi" value="Malawi">Malawi</option>
            <option  label="Malaysia" value="Malaysia">Malaysia</option>
            <option  label="Maldives" value="Maldives">Maldives</option>
            <option  label="Mali" value="Mali">Mali</option>
            <option  label="Malta" value="Malta">Malta</option>
            <option  label="Marshall"  value="Marshall Islands">Marshall Islands</option>
            <option  label="Mauritania" value="Mauritania">Mauritania</option>
            <option  label="Mauritius" value="Mauritius">Mauritius</option>
            <option  label="Mayotte" value="Mayotte">Mayotte</option>
            <option  label="Mexico" value="Mexico">Mexico</option>
            <option  label="Micronesia" value="Micronesia">Micronesia</option>
            <option  label="Moldova" value="Moldova">Moldova</option>
            <option  label="Monaco" value="Monaco">Monaco</option>
            <option  label="Mongolia" value="Mongolia">Mongolia</option>
            <option  label="Montenegro" value="Montenegro">Montenegro</option>
            <option  label="Montserrat" value="Montserrat">Montserrat</option>
            <option  label="Morocco" value="Morocco">Morocco</option>
            <option  label="Mozambique" value="Mozambique">Mozambique</option>
            <option  label="Myanmar" value="Myanmar">Myanmar</option>
            <option  label="Namibia" value="Namibia">Namibia</option>
            <option  label="Nauru" value="Nauru">Nauru</option>
            <option  label="Nepal" value="Nepal">Nepal</option>
            <option  label="Netherlands" value="Netherlands">Netherlands</option>
            <option  label="Netherlands"  value="Netherlands Antilles">Netherlands Antilles</option>
            <option  label="New Caledonia" value="New Caledonia">New Caledonia</option>
            <option  label="New Zealand" value="New Zealand ">New Zealand</option>
            <option  label="Nicaragua" value="Nicaragua">Nicaragua</option>
            <option  label="Niger" value="Niger">Niger</option>
            <option  label="Nigeria" value="Nigeria">Nigeria</option>
            <option  label="Niue" value="Niue">Niue</option>
            <option  label="North"  value="North Korea">North Korea</option>
            <option  label="Northern Mariana Islands"  value="Northern Mariana Islands">Northern Mariana Islands</option>
            <option  label="Norway" value="Norway">Norway</option>
            <option  label="Oman" value="Oman">Oman</option>
            <option  label="Pakistan" value="Pakistan">Pakistan</option>
            <option  label="Palau" value="Palau">Palau</option>
            <option  label="Palestine" value="Palestine">Palestine</option>
            <option  label="Panama" value="Panama">Panama</option>
            <option  label="Papua New Guinea"  value="Papua New Guinea">Papua New Guinea</option>
            <option  label="Paraguay" value="Paraguay">Paraguay</option>
            <option  label="Peru" value="Peru">Peru</option>
            <option  label="Philippines" value="Philippines">Philippines</option>
            <option  label="Pitcairn" value="Pitcairn">Pitcairn</option>
            <option  label="Poland" value="Poland">Poland</option>
            <option  label="Portugal" value="Portugal">Portugal</option>
            <option  label="Puerto Rico"  value="Puerto Rico">Puerto Rico</option>
            <option  label="Qatar" value="Qatar">Qatar</option>
            <option  label="Republic of the Congo"  value="Republic of the Congo">Republic of the Congo</option>
            <option  label="Reunion" value="Reunion">Reunion</option>
            <option  label="Romania" value="Romania">Romania</option>
            <option  label="Russia" value="Russia">Russia</option>
            <option  label="Rwanda" value="Rwanda">Rwanda</option>
            <option  label="Saint  Barthelemy  value="Saint Barthelemy">Saint Barthelemy</option>
            <option  label="Samoa" value="Samoa">Samoa</option>
            <option  label="Saudi Arabia"  value="Saudi Arabia">Saudi Arabia</option>
            <option  label="Senegal" value="Senegal">Senegal</option>
            <option  label="Serbia" value="Serbia">Serbia</option>
            <option  label="Seychelles" value="Seychelles">Seychelles</option>
            <option  label="Sierra Leone"  value="Sierra Leone">Sierra Leone</option>
            <option  label="Singapore" value="Singapore">Singapore</option>
            <option  label="Sint  Maarten"  value="Sint Maarten">Sint Maarten</option>
            <option  label="Slovakia" value="Slovakia">Slovakia</option>
            <option  label="Slovenia" value="Slovenia">Slovenia</option>
            <option  label="Solomon Islands"  value="Solomon Islands">Solomon Islands</option>
            <option  label="Somalia" value="Somalia">Somalia</option>
            <option  label="South Africa"  value="South Africa">South Africa</option>
            <option  label="South Korea"  value="South Korea">South Korea</option>
            <option  label="South Sudan"  value="South Sudan">South Sudan</option>
            <option  label="Spain" value="Spain">Spain</option>
            <option  label="Sri Lanka" value="Sri Lanka">Sri Lanka</option>
            <option  label="Sudan" value="Sudan">Sudan</option>
            <option  label="Suriname" value="Suriname">Suriname</option>
            <option  label="Svalbard and Jan Mayen" value="Svalbard and Jan Mayen">Svalbard and Jan Mayen</option>
            <option  label="Swaziland" value="Swaziland">Swaziland</option>
            <option  label="Sweden" value="Sweden">Sweden</option>
            <option  label="Switzerland" value="Switzerland">Switzerland</option>
            <option  label="Syria" value="Syria">Syria</option>
            <option  label="Taiwan" value="Taiwan">Taiwan</option>
            <option  label="Tajikistan" value="Tajikistan">Tajikistan</option>
            <option  label="Tanzania" value="Tanzania">Tanzania</option>
            <option  label="Thailand" value="Thailand">Thailand</option>
            <option  label="Togo" value="Togo">Togo</option>
            <option  label="Tokelau" value="Tokelau">Tokelau</option>
            <option  label="Tonga" value="Tonga">Tonga</option>
            <option  label="Trinidad and Tobago"  value="Trinidad and Tobago">Trinidad and Tobago</option>
            <option  label="Tunisia" value="Tunisia">Tunisia</option>
            <option  label="Turkey" value="Turkey">Turkey</option>
            <option  label="Turkmenistan" value="Turkmenistan">Turkmenistan</option>
            <option  label="Turks  value="Turks and Caicos Islands">Turks and Caicos Islands</option>
            <option  label="Tuvalu" value="Tuvalu">Tuvalu</option>
            <option  label="U. value="U.S. Virgin Islands">U.S. Virgin Islands</option>
            <option  label="Uganda" value="Uganda">Uganda</option>
            <option  label="Ukraine" value="Ukraine">Ukraine</option>
            <option  label="United Arab Emirates"  value="United Arab Emirates">United Arab Emirates</option>
            <option  label="United Kingdom" value="United Kingdom">United Kingdom</option>
            <option  label="United States"  value="United States">United States</option>
            <option  label="Uruguay" value="Uruguay">Uruguay</option>
            <option  label="Uzbekistan" value="Uzbekistan">Uzbekistan</option>
            <option  label="Vanuatu" value="Vanuatu">Vanuatu</option>
            <option  label="Vatican" value="Vatican">Vatican</option>
            <option  label="Venezuela" value="Venezuela">Venezuela</option>
            <option  label="Vietnam" value="Vietnam">Vietnam</option>
            <option  label="Wallis and Futuna"  value="Wallis and Futuna">Wallis and Futuna</option>
            <option  label="Western Sahara"  value="Western Sahara">Western Sahara</option>
            <option  label="Yemen" value="Yemen">Yemen</option>
            <option  label="Zambia" value="Zambia">Zambia</option>
            <option  label="Zimbabwe" value="Zimbabwe">Zimbabwe</option> 

          </select>
        </label>
      </div>     

      <!-- <div class="m-btm-30">
          <p><strong>First name:</strong> {{profiledata.firstname}}</p>
          <p><strong>Last name:</strong> {{profiledata.lastname}}</p>
          <p><strong>Nick name:</strong>  {{profile.name}}</p>
          <p><strong>Email:</strong> {{profiledata.email}}</p>
      </div> -->

    </div>

    </ion-content>
</ion-view>